

@{
    ViewData["Title"] = "About";
   
}
<div class="text-center">
<h1>About Babli Rawat</h1>
<p>
    I feel I would be an asset to your organization because I am a self-motivated person and always belief
    in learning new things and taking new challenges in life to groom myself. Strong quick on the job learner
    and team player. I am also multiple skilled and have 5+ years of professional multicultural experience
    as a Stakeholder Coordinator in Food and Beverage industry, Retail industry and Education profession.
    Fluent in Swedish, English, and Hindi..
</p>
</div>
