
@{
    ViewData["Title"] = "Projects";
   
}

<h1>My Projects</h1>
<ul>
    <li>
        <a href="https://github.com/riya123rawat/project1">Project 1</a> - Description of project 1
    </li>
    <li>
        <a href="https://github.com/riya123rawat/project2">Project 2</a> - Description of project 2
    </li>
</ul>
